@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

header {
    background: #424242;
    color:#fff;
    width: 100%;
    height: 80px;
    font-size: 16px;
    position: fixed;    
}

header span {
    float:left;
    padding: 10px 20px;
    padding-right: 0;
}

nav {
    float: right;
    height: 100%;	
}

nav ul { 
	list-style-type: none; 
    margin:0;
    height: 100%;
}

nav li {
    display: table;
    height: 100%;
}

nav a {
	display: table-cell;
	margin:0;
	border-left:1px solid #000000;
    padding-top: 10px;
    padding-bottom: 10px;
	padding-left: 4vw;
    padding-right: 4vw;
    height: 100%;
    
    vertical-align: middle;
}

.parallax {
    background-image: url("../img/photo1_edited.jpg");

    /* Set a specific height */
    min-height: 50em; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}

.light-container {
    width: 100%;
    background-color: white;
    color: black;
}

.dark-container {
    width: 100%;
    background-color: #232323;
    color: white;   
}

.centered-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.centered-content > * {
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

h1 {
    font-size: 36px;
    font-weight: 500;
    margin: 20px;
}

#navlogo {
    height: inherit;
    float: left;
}

#logo {
    width: 30%;
    align-self: center;
    position: fixed;
    top: 15%;
    margin: 0;
}